:root {
    --my-dark-blue:#0D4F8B;
    --my-middle-blue: #4682B4;
    --my-light-blue:  #B2DFEE;
}
body h3, h4, h5, thead{
    color:var(--my-dark-blue);
}
body tbody, h6 {
    color:var(--my-middle-blue);
}
.btn-primary {
    background-color:var(--my-dark-blue) !important;
    border-color:var(--my-dark-blue) !important;
}
.btn-secondary {
    background-color:var(--my-middle-blue) !important;
    border-color:var(--my-middle-blue) !important;
}
.my-navbar {
    background-color: var(--my-dark-blue);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .04);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .04);
    
}
.navbar-brand, .nav-link {
    color: white !important;
}
.searchbar {
    margin-right: 15px;
    /* background-color: #74BBFB; */
}
.title {
    color:var(--my-dark-blue);
    margin-bottom: 12px;
}
.bestseller {
    background-color:var(--my-middle-blue);
    text-align:center;
    border-radius: 2em !important;
    color:white;
}

.bestseller img {
    width: 100px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.list-item-product {
    background-color: var(--my-light-blue);
    color: var(--my-middle-blue);
    border-radius: 1em;
    margin-top:10px;
}
.list-img {
    width: 100px;
    margin:20px;
}
.list-name {
    width: 100%;
    margin-top:25px;
}
.list-price {
    margin-top:25px;
    text-align: center;
}
.list-details {
    width:100%;
}

.list-producer {
    width:50%;
    float:left;
}
.list-rating-count {
    margin-top:15px;
}
.list-quantity {
    margin-top:25px;
}
.list-quantity-number {
    border: 1px solid var(--my-middle-blue);
    border-radius: 0.25em;
    text-align: center;
    font-size: 20px;
    width:50%;
    background-color:white;
    color: var(--my-middle-blue);
}
.list-rating {
    margin-top:25px;
}

.add-icon {
    margin-left:-5px;
    margin-top: 35px;
}
.delete-icon{
    position:absolute; 
    margin-left:-25px; 
    margin-top:10px;
}
.delete-icon:hover{
    cursor:pointer;
}
a.icon-button {
   color:var(--my-middle-blue); 
}
.rating {
    color:orange;
    /* margin: 0 auto; */
}

.cart-title, .orders-title {
    width:70%;
    float:left;
}
.cart-total, .orders-select{
    width:30%;
    float:right;
    text-align:right;
    color:var(--my-dark-blue);
}
.orders-select option{
    color:var(--my-dark-blue);
}
.right {
    float:right;
}
.link {
    color:var(--my-middle-blue);
}
.user-profile, .user-password{
    width:50%;
    float:left;
}
.user-profile input, .user-password input, .add-product input, textarea{
    margin:5px;
}

 .image-stars {
    width:30%;
    float:left;
}
.product-info{
    width:50%;
    float:left;
    margin-left:50px;
}

.product p{
    color:var(--my-dark-blue);
}
.product-link, .product-link:hover {
    text-decoration: none !important;
    color: var(--my-middle-blue) !important;
}

.quantity label{
    color:var(--my-dark-blue);
    font-size: 20px;
}
.product-quantity-number {
    border: 1px solid var(--my-middle-blue);
    border-radius: 0.25em;
    text-align: center;
    font-size: 20px;
    background-color:white;
    color: var(--my-middle-blue);
    width:100px;
    margin-left:5px;
}
.stars{
    margin-left:60px;
    cursor:pointer;
}
.add-product-table{
    width:50%;
}
.add-product-table textarea{
    width:100%;
}
.rating-input{
    width:100px;
    border: 1px solid var(--my-middle-blue);
    border-radius: 0.25em;
}
.rating-modal, .rating-modal option{
    color:var(--my-dark-blue);
}





